@model IEnumerable<WebPlaces2020.Client.Models.Account>

@{
    ViewData["Title"] = "GetAllAccounts";
}

<h1>GetAllAccounts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName_ACC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName_ACC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_ACC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_ACC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender_ACC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate_ACC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pro_ACC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName_ACC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName_ACC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_ACC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_ACC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender_ACC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate_ACC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pro_ACC)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
